{% extends 'base.html' %} {% block content %}
<div class="bg-white rounded-lg shadow p-6 max-w-md mx-auto">
  <h2 class="text-2xl font-bold text-center mb-6">Login</h2>
  <form method="POST" action="{{ url_for('login') }}" class="space-y-4">
    <div>
      <label for="username" class="block text-sm font-medium text-gray-700"
        >Username</label
      >
      <input
        type="text"
        id="username"
        name="username"
        required
        class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm sm:text-sm p-2 focus:outline-none focus:ring-0 focus:border-gray-300"
        placeholder="Enter your email"
      />
    </div>

    <div>
      <label for="password" class="block text-sm font-medium text-gray-700">
        Password
      </label>
      <div
        class="flex rounded-md border border-gray-300 transition focus-within:border-gray-800 focus-within:shadow-md"
      >
        <input
          type="password"
          id="password"
          name="password"
          required
          class="block w-full p-2 pr-10 border-none focus:outline-none"
          placeholder="••••••••"
        />
        <button
          type="button"
          id="togglePassword"
          class="flex items-center pr-3 focus:outline-none"
        >
          <img
            src="{{ url_for('static', filename='images/view.png') }}"
            alt="view password"
            id="eyeIcon"
            class="h-full w-full max-w-[16px] max-h-[16px] cursor-pointer opacity-70 hover:opacity-100"
          />
        </button>
      </div>
    </div>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 transition"
    >
      Login
    </button>
  </form>

  <p class="mt-4 text-sm text-center text-gray-600">
    Don't have an account?
    <a href="{{ url_for('register') }}" class="text-blue-600 hover:underline"
      >Register</a
    >
  </p>
</div>

<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");
  const eyeIcon = document.querySelector("#eyeIcon");

  togglePassword.addEventListener("click", function () {
    const type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    // ปรับความเข้มของ icon
    if (type === "text") {
      eyeIcon.classList.remove("opacity-70");
      eyeIcon.classList.add("opacity-100");
    } else {
      eyeIcon.classList.remove("opacity-100");
      eyeIcon.classList.add("opacity-70");
    }
  });
</script>
{% endblock %}

